.nav-link.active {
    font-weight: bold;
    transition: font-weight 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 1;
}

.nav-link {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.nav-link.active {
    transition-delay: 0.2s;
    opacity: 1;
}
.hover-effect,
.hover-services {
    transition: all 0.3s ease-in-out;
}
.hover-services:hover {
    border-bottom: 2px solid blue;
}

.hover-effect:hover {
    border-left: 2px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.arrow-icon {
    width: 20px;
}
.image-about {
    top: 15%;
    left: 50%;
}
.form-contact,
.service-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.service-card:hover {
    background-color: blue;
    color: whitesmoke;
}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }
    .modal-body {
        padding: 0;
    }
}
